@use "./variables.scss" as v;

#queue {
  border: 3px solid v.$redC;
  overflow: scroll;
  .order {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 7px 0px #13191f;
  padding: 3vw;
  margin: 1vw;
  border-radius: 5px;
  background-color: v.$bg2C;
  }
  .orderList {
    display: flex;
    list-style: none;
    color: white;
  }
}

.data-first-view{
  width: 100%;
  height: 70%;
  margin-bottom: 5vw;
}

/* #data-queue-barchart{
  width: 100%;
  height: 70%;
} */

#data-full-view{
  width: 100%;
  height: auto;
  
}

#data-queue-barchart {
  display: flex;
  height:100%;
}


rect {
  transition: 2s;
}

.queue_barchart {
  border-radius: 1vw;
height: 100%;
width: 100%;
background-color: v.$bg2C;
margin: 2.5vw;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
grid-template-rows: 40fr 2fr;
bottom: 0;

/* direction: rtl; */
overflow: hidden;
transition: 1s;
padding: 1vw;
text-align: center;
}

.customer {
  text-align: center;
  /* 
  border-radius: 0.5vw 0.5vw 0vw 0vw; */
  align-self: end;
  /* background-color: v.$redC; */
 /* background-image: url("./assets/icons/customer_00.svg"); */
  width: 70%;
  transition: 1s;
}