@use "./variables.scss" as v;

#queue {
  overflow: scroll;
  .order {
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 10px 0px #0c101452;
    padding: 3vw;
    margin: 1vw;
    background-color: #3c50644f;;
    border-radius: 5px;
  }
  .orderList {
    display: flex;
    list-style: none;
    color: white;
  }
}

.data-first-view{
  width: 100%;
  height: 70%;
  margin-bottom: 5vw;
  .scrollArrow{
    position: absolute;
    left: 50%;
  }
}

/* #data-queue-barchart{
  width: 100%;
  height: 70%;
} */

#data-full-view{
  width: 100%;
  height: auto;
  
}

#data-queue-barchart {
  display: flex;
  height:100%;
}


rect {
  transition: 2s;
}

.queue_barchart {
box-shadow: 2px 2px 10px 0px #0c101452;
height: 100%;
width: 100%;
background-color: #3c50644f;;
margin: 2.5vw;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 3fr;
grid-template-rows: 40fr 2fr;
bottom: 0;
border-radius: 5px;

/* direction: rtl; */
overflow: hidden;
transition: 1s;
padding: 1vw;
text-align: center;
}

.customer {
  text-align: center;
  /* 
  border-radius: 0.5vw 0.5vw 0vw 0vw; */
  align-self: end;
  /* background-color: v.$redC; */
 /* background-image: url("./assets/icons/customer_00.svg"); */
  width: 70%;
  transition: 1s;
}