@use "./variables.scss" as v;
@import "./mixins";

#storage {
  .data-storage {
    display: flex;
    text-align: center;
    margin-top: 4vw;
    gap: 1vw;
    overflow: scroll;
    @include for-phone-only {
      flex-wrap: wrap;
    }
    .storageimage {
      min-width: 10vw;
      max-width: 10vw;
    }
  }
  .expandView{
    font-size: 2rem;
    cursor: pointer;
  }
}


.hide{
  display: none;
}