@use "./variables.scss" as v;
@import "./mixins";

#storage {
  border: 3px solid v.$redC;

  .storageimage {
    width: 10vw;
  /*   max-width: 100px; */
  }
}

#data-storage {
  padding: 1vw;
  display: flex;
  text-align: center;
  justify-content: center;
  // flex-wrap: wrap;
  margin-top: 1vw;
  gap: 2.5vw;
  @include for-phone-only {
    flex-wrap: wrap;
  }
}
