@use "./variables.scss" as v;
@import "./mixins";

#taps {
  width: 100%;
   height: 13vw; 
  .tapsimage {
    width: 50%;
   /*  min-width: 7vw;
    max-width: 7vw; */
  }
}

#data-taps {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 0.5vw;
  gap: 1vw;
  @include for-phone-only {
    gap: 0px;
    flex-wrap: wrap;
  }
}
