@use "./variables.scss" as v;
@import "./mixins";

#taps {
  width: 100%;
  height: 20vw;
  border: 3px solid v.$redC;
  .tapsimage {
    width: 70%;

   /*  min-width: 7vw;
    max-width: 7vw; */
  }
}

#data-taps {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 1vw;
  gap: 1vw;
  @include for-phone-only {
    gap: 0px;
    flex-wrap: wrap;
  }
}
