@use "./variables.scss" as v;
@use "./reset.scss";
@use "./header";
@use "./queue";
@use "./bartender";
@use "./storage";
@use "./tables";
@use "./taps";
@import "./mixins.scss";

* {
  max-width: 100%;
  box-sizing: border-box;
}

.show{
  display: block;
  z-index: 1000;
}

.hide {
  display: none;
  z-index: 0;
}
// div {
//   font-family: v.$vintage;
//   font-size: 2vw;
// }

body {
  background-color: v.$bgC;
  text-align: center;
}

// header {
//   @include for-phone-only {
//   }
// }

.dashboard {
  
  width: 100%;
   padding: 3vw; 
  gap: 1vw;
  background-color: #1a2129;
  display: grid;
  @include for-phone-only {
    display: flex;
    flex-direction: column;
    max-width: auto;
  }
  //grid-template-columns: repeat(auto-fill, minmax(5vw, 1fr 1fr 1fr));

 grid-template-columns: 60% 40%;
 grid-template-rows: 15vw 20vw 20vw;


 #taps{
grid-column: 1/3;
grid-row: 1;
width: 100%;
height: 100%;
 }
#queue{
  height: 100%;
  grid-column: 1/2;
  grid-row: 2;
  width: 100%;
 }#storage{width: 100%;
  grid-column: 1;
  grid-row: 3;
  height: 100%;
   
}#tables{width: 100%;
  height: 100%;
  grid-column: 2;
}#bartender{width: 100%;
  height: 100%;
   

   
}
  /*   grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr; */
  h1 {
    margin-top: 1vw;
    font-family: v.$lemonMilk;
    color: v.$redC;
    font-size: 2vw;
  }
  h2 {
    font-size: 1.5vw;
    color: v.$lysC;
    font-family: v.$lemonMilk;
  }
  h3 {
    font-size: 1vw;
    color: v.$redC;
    font-family: v.$lemonMilk;
    @include for-phone-only {
      font-size: 0.5rem;
    }
  }
  p {
    font-family: v.$smythe;
    color: white;
    font-size: 1vw;
    /* font-size: ; */
    @include for-phone-only {
      font-size: 0.5rem;
    }
  }
}


//media queries
